
.container-slide{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    height: 70vh;
    background-color: black;
    margin: 20vh auto;
    border-radius: 10px;
    box-shadow: 0 20px 30px black;
    border: 5px solid black;
}

.container-items {
    position: absolute;
    display: flex;
    width: 80vw;
    height: 70vh;
    border-radius: 10px;
    overflow: hidden;
}

.item {
    width: 80vw;
    height: 70vh;
    transition: all 1s;
}
.item:first-child{
    margin-left: -100%;
}

.item img {
    width: 80vw;
    height: 70vh;
    border-radius: 10px;
}

.action-button{
    font: bold 30px sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    color: #00000000;
    user-select: none;
    z-index: 1;
}
.action-button{
    color: white;
    background-color: #00000055;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s;
}




.content-center1 {
    width: 100%;
    max-width: 300px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.content-center1 .text-center {
    text-align: center;
}

.content-center1 img {
    width: 100%;
}

.content-center1 form{
    margin: 20px;
}

.content-center1 input,
.content-center1 button {
    width: 100%;
    padding: 10px 5px;
    border: none;
    outline: none;
    
}

.content-center1 input {
    border-bottom-color: #ccc;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 10px;
}

.content-center1 button {
    background-color: #d07335;
    color: #fff;
    border-radius: 5px;
}

.content-center1 input:focus {
    border-bottom-color: #d07335;
}

.content-center1 button:hover {
    background-color: #b55b28;
    cursor: pointer;
}

.content-center1 button:active {
    background-color: #c14e0e;
    cursor: pointer;
    
}

header a {
    color: #666;
    text-decoration: none;
}


 h1 {
    font-size: 2.5em;
    text-align: center;
    margin: 50px auto;
}

footer {
    font-size: .8em;
    text-align: center;
}

.content-tabuada {
    width: 100%;
    text-align: center;
    max-width: 500px;
    background-color: #fff;
    margin: auto;
    padding: 20px;

}
.content-tabuada td {
    padding: .75rem;
    border-top: 1px solid #dee2e6;
}

.content-tabuada table {
    width: 100%;
    border-collapse: collapse ;
}

.content-tabuada tbody tr:nth-child(odd) { /* onde selecionar o coluna entre () odd numeros pares e even é numeros ímpares */
    background-color: #b55b28;
}

.content-tabuada tbody tr:hover {
    background-color: #666;
    cursor: pointer;
}

#valorA {
    width: 100%;
    padding: 10px;
}



* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    min-height: 600px;
    background-image: url('../img/violino23.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-image: bottom;
    position: relative;
}

header .bg-gradient {
    min-height: 300px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,.65) 0% rgba(0,0,0,0) 100% );
    background: -moz-linear-gradient(bottom,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); 
    background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); 
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); 
}

header .header-border {
    display: flex;
    border-bottom:  rgba(255, 255, 255,.25) 1px solid;

}

header #logo {
    width: 200px;
    color: white;
    line-height: 60px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    text-shadow: #000 1px 1px 8px;
}


header button{
    cursor: pointer;
}

header .button:hover {
    cursor: pointer;
  
    border-radius: 10px;
}


header button a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    list-style: none;
    font-size: 20px;
    
}


.menu {
    flex: 1;    
}

.menu ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;

}

.menu li {
    min-width: 100px;
    line-height: 28px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;   

}

#register {
    background-color: #fff;
    width: 100%;
    height: 400px;
    max-width: 350px ;
    position: absolute;
    bottom: 0;
    right: 10vw;
    box-shadow: 0 0 2.1875rem rgba(140,152,164,.125);
    border-top-left-radius: 0.30rem;
    border-top-right-radius: 0.30rem;
    padding: 20px;
    color: #333;
}

#register p {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 35px;
}

#register .field {
    width: 100%;
    margin-bottom: 20px;
}

#register input {
    width: 100%;
    padding: .75rem 1rem;
    border-radius: 4px;
    border: #ccc 1px solid;
}

#register input[type=radio] {
    width: 25px;
}

#register button {
    width: 100%;
    border: none;
    background-color: #e67e22;
    color: #fff;
    padding: .75rem;
    font-size: 1.2em;
    border-radius: 10px;
}


#register button:hover {
    cursor: pointer;
    width: 100%;
    border: none;
    background-color: #f5a259;
    color: rgb(26, 23, 23);
    padding: .75rem;
    font-size: 1.2em;
    border-radius: 10px;
}

.container1 {
    max-width: 960px;
    margin: auto;
    width: 100%;
    padding-left: 15px;
}

.title1 h1 {
    font-size: 3em;
    border-bottom: #ccc 1px solid;
    padding-bottom: 1rem;
}

.home1 p {
    text-align: justify;
    
}
.home1 .container1 p {
    font-size: 23px;
}

footer {
    background-color: #f5f5f5;
    color: #6c757d;
    font-size: .8em;
    display: flex;
    justify-content: center;
    
}

footer p {
    line-height: 35px; /* altura da linha */

}

footer .container{
    display: flex;
    
}

footer .menufooter a {
    color: #6c757d;
}




.menufooter {
    flex: 1;    
}

.menufooter ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;

}

.menufooter li {
    min-width: 100px;
    line-height: 28px;
}

.menufooter a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;   

}

.menu .open-menu{
    display: none;  

}

.menu .close-menu{
    display: none;
}

.backdrop {
    display: none;
}

@media(max-width: 550px){

    #register {
        display: none;
    }

    .menu .close-menu{
        display: block;
        text-align: right;
        background-color: #eee;
    }

    .menu .close-menu button {
        background-color: none;
        border: none;
        font-size: 3.3em;
        padding: .75rem 1rem;
    }

    .menu .close-menu button:hover{
        cursor: pointer;
    }
    
    .menu.open .backdrop {
        opacity: .5;
        display: block;
    }


    .menu.open .backdrop {
       /* opacity: 0; */
        background-color: #000;
        transition: opacity .15s linear;
        position: fixed;
        width:  100%;
        height: 100vh;
        z-index: 1;
        left: 0;
        top: 0;
    }

    .menu.open .backdrop {
        cursor: pointer;
    }

    header .header-border {
        justify-content: space-between;
        margin-right: 30px;
        
    }
    
    .menu ul {
        display: block;
        position: fixed;
        top: 0;
        right: -80vw;
        width: 80vw;
        height: 100vh;
        background-color: #fff;
        z-index: 1;
        margin: 0;
        transition: right .2s linear;
    }

    .menu.open ul{
        right: 0;

    }

    .menu.open a {
        color: #000;
        padding: 20px;
        display: block;
        font-weight: 100;
        border-bottom: #ccc 1px solid;
    }

    
    .menu {
        width: 60px;
        flex: inherit;
    }

    #register {
        width: 90%;
        margin:  0 5%;
        max-width: initial;
        right: inherit;
    }


    .menu .open-menu{
        display: block;
        font-size: 3.3em;
        padding: .9rem;
        flex: 1;
        background: none;
        border: none;
        color: #fff;

    }

    .menu .open-menu:hover{
        cursor: pointer;
       

    }
}

    


